html,
body {
  margin: 0;
  padding: 5px;
  align-items: center;
  text-align: center;
}

canvas {
  display: block;
}

#mycanvas {
  display: block;
  width: 800px;
  height: 800px;
  position: absolute;
  inset: 0;
  margin: auto;
}